<template id="launch-pad">
    <link rel="stylesheet" href="/components/LaunchPad.css">

    <div id="casing" class="container">
        <div class="casing-inner yellow">
            <div class="row mb-2">
                <div class="col-sm-10">
                    <volume-control></volume-control>
                    <volume-display></volume-display>
                </div>
                <div class="col-sm-2 text-right">
                    <power-switch></power-switch>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div class="row pad-list">
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="101"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="102"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="103"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="104"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="105"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="106"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="107"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="108"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="109"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="110"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="111"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="112"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="113"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="114"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="115"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="116"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="117"></pad-render>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <pad-render data-id="118"></pad-render>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="row around-xs">
                        <div class="col-xs-12">
                            <page-toggle data-id="1"></page-toggle>
                        </div>
                        <div class="col-xs-12">
                            <page-toggle data-id="2"></page-toggle>
                        </div>
                        <div class="col-xs-12">
                            <page-toggle data-id="3"></page-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services -->
    <script type="module" src="services/audioLoader.js"></script>
    <script type="module" src="services/audioPlayer.js"></script>
    <script type="module" src="services/storageHandler.js"></script>
    <script type="module" src="services/componentSelector.js"></script>
    <script type="module" src="services/fileUploader.js"></script>

    <!-- Compontents -->
    <script type="module" src="components/pad-render/PadRender.js"></script>
    <script type="module" src="components/volume-display/VolumeDisplay.js"></script>
    <script type="module" src="components/volume-control/VolumeControl.js"></script>
    <script type="module" src="components/power-switch/PowerSwitch.js"></script>
    <script type="module" src="components/page-toggle/PageToggle.js"></script>

</template>